In [11]:
%load_ext autoreload
%autoreload 2
import sys
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from statsmodels.stats.proportion import proportions_ztest, proportion_confint

src_path = "/home/akohl2733/Projects/lambent/prospect-analyzer/src"
if src_path not in sys.path:
    sys.path.append(src_path)

from logic import load_contacts, row_to_prospect, plot_booking_rate, total_touches_analysis
from search import ProspectSearcher

emails_per_person = 4.419
sequences_seen = 1.202

df = load_contacts("../cleaned-data-main-seq-25.csv")

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [12]:
# Check significance between number of sequences enrolled and meeting booked rate
# Results - 7 sequences were statistically significant in a good way
def amount_by_sequence(df):
    amt_of_sequences = (
        df.groupby("Number of Sequences Enrolled")["Meeting Booked"]
            .agg(["count", "sum"])
            .reset_index()
        )
    amt_of_sequences["Rate"] = amt_of_sequences["sum"] / amt_of_sequences["count"] * 100
    return amt_of_sequences
amt_of_sequences = amount_by_sequence(df)

def overall_booking_rate(df):
    total_success = (df["Meeting Booked"] != 0).sum()
    total_contacts = len(df)
    overall_rate = total_success / total_contacts * 100
    return f"Overall booking rate: {overall_rate:.3f}%"
overall_booking_rate(df)

'Overall booking rate: 0.572%'

In [26]:
results = []
for _, row in amt_of_sequences.iterrows():
    n = row["count"]
    x = row["sum"]
    if n < 15:
        continue
    stat, pval = proportions_ztest([x, (df["Meeting Booked"] != 0).sum()], [n, len(df)])
    results.append({
        "Sequences": row["Number of Sequences Enrolled"],
        "Rate": row["Rate"] * 100,
        "Sample Size": n,
        "p-value": pval,
        "Significant": pval < 0.05
    })
sig_df = pd.DataFrame(results)
sig_df

    Sequences        Rate  Sample Size   p-value  Significant
0         1.0   34.650035       1443.0  0.297830        False
1         2.0   41.493776        723.0  0.595358        False
2         3.0  114.503817        524.0  0.117100        False
3         4.0   40.160643        498.0  0.626554        False
4         5.0   88.300221        453.0  0.414383        False
5         6.0   34.722222        288.0  0.619273        False
6         7.0   45.248869        221.0  0.816761        False
7         8.0  198.675497        151.0  0.029095         True
8         9.0    0.000000         86.0  0.481720        False
9        10.0    0.000000         65.0  0.540771        False
10       11.0    0.000000         43.0  0.618844        False
11       12.0    0.000000         22.0  0.721953        False
12       13.0    0.000000         18.0  0.747544        False

In [14]:
# Check significance based on number of sales activities
# Results - between 30 - 70 touches were statiscally effective

amt_of_activities = (
    df.groupby("Number of Sales Activities")["Meeting Booked"]
        .agg(["count", "sum"])
        .reset_index()
    )
amt_of_activities["Rate"] = amt_of_activities["sum"] / amt_of_activities["count"] * 100

total_success = (df["Meeting Booked"] != 0).sum()
total_contacts = len(df)
overall_rate = total_success / total_contacts * 100
print(f"Overall booking rate: {overall_rate}.3%")

Overall booking rate: 0.572309046885318.3%

In [15]:
results = []
for _, row in amt_of_activities.iterrows():
    n = row["count"]
    x = row["sum"]
    if n < 15:
        continue
    stat, pval = proportions_ztest([x, total_success], [n, total_contacts])
    results.append({
        "Sales Activities": row["Number of Sales Activities"],
        "Rate": row["Rate"] * 100,
        "Sample Size": n,
        "p-value": pval,
        "Significant": pval < 0.05
    })
sig_df = pd.DataFrame(results)
display(sig_df[sig_df["Significant"] != False])

    Sales Activities        Rate  Sample Size   p-value  Significant
32              33.0  333.333333         60.0  0.006285         True
36              37.0  363.636364         55.0  0.003692         True
39              40.0  465.116279         43.0  0.000632         True
49              50.0  344.827586         29.0  0.043913         True
63              64.0  588.235294         17.0  0.004394         True
64              65.0  555.555556         18.0  0.005949         True
66              67.0  588.235294         17.0  0.004394         True
68              69.0  476.190476         21.0  0.012496         True

In [16]:
# Check significance based solely on role category (job level)
# Result - not statistically significant

df["role_category"] = df.apply(lambda row: row_to_prospect(row).get_role_category(), axis=1)
summary = (
    df.groupby('role_category')["Meeting Booked"]
    .agg(["count", 'sum'])
    .reset_index()
)

summary["Rate"] = summary["sum"] / summary["count"] * 100

summary = summary[summary["count"] >= 20]

total_success = (df["Meeting Booked"] != 0).sum()
total_contacts = len(df)
overall_rate = total_success / total_contacts

results = []
for _, row in summary.iterrows():
    n = row["count"]
    x = row["sum"]

    stat, pval = proportions_ztest([x, total_success], [n, total_contacts])
    results.append({
        "Role Category": row["role_category"],        
        "Rate": row["Rate"] * 100,
        "Sample Size": n,
        "p-value": pval,
        "Significant": pval < 0.05
    })
sig_df = pd.DataFrame(results)
display(sig_df)

        Role Category       Rate  Sample Size   p-value  Significant
0            Director  81.012658         1975  0.270135        False
1  Executive Director   0.000000          109  0.428339        False
2                Head   0.000000          121  0.404004        False
3             Manager  22.371365          894  0.183163        False
4      Vice President  66.603235         1051  0.720673        False
5               other  29.850746          335  0.514493        False

In [17]:
# Check based on functional group
# Results - workplace and capital/campus planning good, no discernable functional group is bad

df["func_group"] = df.apply(lambda row: row_to_prospect(row).get_functional_group(), axis=1)
summary = (
    df.groupby(['role_category', "func_group"])["Meeting Booked"]
    .agg(["count", 'sum'])
    .reset_index()
)

summary["Rate"] = summary["sum"] / summary["count"] * 100

summary = summary[summary["count"] >= 20]

total_success = (df["Meeting Booked"] != 0).sum()
total_contacts = len(df)
overall_rate = total_success / total_contacts

results = []
for _, row in summary.iterrows():
    n = row["count"]
    x = row["sum"]

    stat, pval = proportions_ztest([x, total_success], [n, total_contacts])
    results.append({
        "Functional Group": row["func_group"],        
        "Rate": row["Rate"] * 100,
        "Sample Size": n,
        "p-value": pval,
        "Significant": pval < 0.05
    })
sig_df = pd.DataFrame(results)
display(sig_df[sig_df["Significant"] == True])

   Functional Group        Rate  Sample Size   p-value  Significant
0    Campus/Capital  263.157895           76  0.021809         True
5         Workplace  203.252033          246  0.005410         True
11            Other  416.666667           24  0.021970         True

In [18]:
# Check significance based on title and function (together)
# Result:
    # Director of Campus/Capital Planning and Director of Workplace
    # Manager of Other was statistically worse off

df["role_category"] = df.apply(lambda row: row_to_prospect(row).get_role_category(), axis=1)
df["func_group"] = df.apply(lambda row: row_to_prospect(row).get_functional_group(), axis=1)
summary = (
    df.groupby(['role_category', "func_group"])["Meeting Booked"]
    .agg(["count", 'sum'])
    .reset_index()
)

summary["Rate"] = summary["sum"] / summary["count"] * 100

summary = summary[summary["count"] >= 20]

total_success = (df["Meeting Booked"] != 0).sum()
total_contacts = len(df)
overall_rate = total_success / total_contacts

results = []
for _, row in summary.iterrows():
    n = row["count"]
    x = row["sum"]

    stat, pval = proportions_ztest([x, total_success], [n, total_contacts])
    results.append({
        "Role Category": row["role_category"],
        "Functional Group": row["func_group"],        
        "Rate": row["Rate"] * 100,
        "Sample Size": n,
        "p-value": pval,
        "Significant": pval < 0.05
    })
sig_df = pd.DataFrame(results)
display(sig_df)

,Role Category,Functional Group,Rate,Sample Size,p-value,Significant
0,Director,Campus/Capital,263.157895,76,0.021809,True
1,Director,Facilities,64.516129,930,0.790629,False
2,Director,Other,0.000000,85,0.484279,False
3,Director,Real Estate,35.650624,561,0.513841,False
4,Director,Space,140.845070,71,0.359360,False
5,Director,Workplace,203.252033,246,0.005410,True
6,Executive Director,Facilities,0.000000,54,0.577187,False
7,Executive Director,Real Estate,0.000000,23,0.715972,False
8,Head,Facilities,0.000000,29,0.682865,False
9,Head,Real Estate,0.000000,71,0.522660,False
10,Manager,Facilities,29.761905,336,0.512501,False
11,Manager,Other,416.666667,24,0.021970,True
12,Manager,Real Estate,0.000000,242,0.237974,False
13,Manager,Space,0.000000,72,0.519746,False
14,Manager,Workplace,0.000000,202,0.280961,False
15,Vice President,Campus/Capital,0.000000,42,0.622952,False
16,Vice President,Facilities,89.285714,448,0.402347,False
17,Vice President,Other,0.000000,42,0.622952,False
18,Vice President,Real Estate,52.219321,383,0.900297,False
19,Vice President,Workplace,83.333333,120,0.709906,False
20,other,Facilities,0.000000,91,0.469251,False
21,other,Other,0.000000,105,0.436940,False
22,other,Real Estate,0.000000,44,0.614795,False
23,other,Space,0.000000,30,0.677746,False
24,other,Workplace,0.000000,49,0.595375,False

In [19]:
# Check significance from sequences
# Result - Campus/Capital Planning was significantly more effective
summary = (
    df.groupby("Last Sequence Enrolled")["Meeting Booked"]
    .agg(["count", 'sum'])
    .reset_index()
)

summary["Rate"] = summary["sum"] / summary["count"] * 100

summary = summary[summary["count"] >= 20]

total_success = (df["Meeting Booked"] != 0).sum()
total_contacts = len(df)
overall_rate = total_success / total_contacts

results = []
for _, row in summary.iterrows():
    n = row["count"]
    x = row["sum"]

    stat, pval = proportions_ztest([x, total_success], [n, total_contacts])
    results.append({
        "Last Sequence Enrolled": row["Last Sequence Enrolled"],        
        "Rate": row["Rate"] * 100,
        "Sample Size": n,
        "p-value": pval,
        "Significant": pval < 0.05
    })
sig_df = pd.DataFrame(results)
display(sig_df)

   Last Sequence Enrolled        Rate  Sample Size   p-value  Significant
0             269580465.0   85.348506        703.0  0.372926        False
1             269668391.0   38.147139       1835.0  0.336219        False
2             279109668.0   57.088487       1051.0  0.995598        False
3             279559810.0  185.873606        269.0  0.010394         True
4             279606875.0    0.000000        104.0  0.439132        False
5             282518921.0   34.423408        581.0  0.482567        False

In [20]:
data = {
    "Name": ["Andrew Kohl", "Apple Kohl", "Banana Kohl"],
    "Currently In Sequence": [True, False, False],
    "Job Title": ["VP of Corporate Real estate", "Director of Facilities", "Manager of Space Management"],
    "Company": ["Lambent", "Apple", "University of Connecticut"],
    "State": ["North Carolina", "San Francisco", "Connecticut"],
    "Number of Sequences Enrolled": [5, 10, 2],
    "Number of Sales Activities": [40, 57, 17],
    "Create Date": ['6/7/2024', '10/5/2023', '2/17/2025'],
    "Last Sequence Enrolled": [283746581, 827361089, 876543876],
    "Last Sequence Ended Date": ['10/10/2025', '9/10/2025', '8/22/2025'],
    "Last Contacted": ['10/10/2025', '9/10/2025', '8/22/2025'],
    "Last Engagement Date": ['7/24/2025', '9/10/2025', '5/22/2025'],
    "Meeting Booked": [1, 0, 1]}
data = pd.DataFrame(data)

In [25]:
def significant_num_of_seq(df):
    results = []
    for _, row in df.iterrows():
        n = row["count"]
        x = row["sum"]
        # if n < 15:
        #     continue
        stat, pval = proportions_ztest([x, (df["Meeting Booked"] != 0).sum()], [n, len(df)])
        results.append({
            "Sequences": row["Number of Sequences Enrolled"],
            "Rate": row["Rate"] * 100,
            "Sample Size": n,
            "p-value": pval,
            "Significant": pval < 0.05
        })
    sig_df = pd.DataFrame(results)
    return sig_df
    
a = amount_by_sequence(data)
a

   Number of Sequences Enrolled  count  sum   Rate
0                             2      1    1  100.0
1                             5      1    1  100.0
2                            10      1    0    0.0